faster-whisper
python-dotenv
requests
tqdm
fastapi
uvicorn
python-multipart
google-auth
firebase-admin
httpx
pyjwt
google-cloud-pubsub
google-cloud-storage
google-cloud-firestore==2.16.0
google-api-core<2.20.0
google-cloud-secret-manager
openpyxl
python-pptx