faster-whisper
python-dotenv
requests
tqdm
fastapi
uvicorn
python-multipart
google-auth
firebase-admin
httpx
pyjwt
google-cloud-pubsub
google-cloud-storage
google-cloud-firestore
google-cloud-secret-manager